<section class="hero">
  <div class="container">

    <div class="grid">
      <div class="column">
        <div class="content-column">
          <h1>Sports membership rewards</h1>
          <h2>Rewarding your people has never been easier</h2>
          <p>Add some perks to your club memberships and save your members money with Mecca Rewards.</p>
          <a class="btn" href="#joinLink">Register</a>
        </div>
      </div>

      <div class="column">
        <%= image_tag "hero-sports-clubs.png", alt: "sports clubs rewards" %>
      </div>
    </div>

  </div>
</section>

<section id='mission' class="content-section">
  <div class="container">
    <div class="center-content content">
      <h2>Our mission</h2>
      <p>To help athletes of all levels get the most out of their sports membership by partnering with leading UK brands and retailers to offer exclusive online discounts and savings.</p>
    </div>
    <div class="brand-logo-grid">
      <div class="brand">
        <%= image_tag "jd-brand.jpg", alt: "JD Sports discounts" %>
      </div>
      <div class="brand">
        <%= image_tag "deliveroo-brand.jpg", alt: "Deliveroo discounts" %>
      </div>
      <div class="brand">
        <%= image_tag "adidas-brand.jpg", alt: "Adidas discounts" %>
      </div>
      <div class="brand">
        <%= image_tag "hello-fresh-brand.jpg", alt: "Hello Fresh discounts" %>
      </div>
      <div class="brand">
        <%= image_tag "ao-brand.jpg", alt: "AO discounts" %>
      </div>
      <div class="brand">
        <%= image_tag "marks-spencers-brand.jpg", alt: "Marks & Spencers discounts" %>
      </div>
    </div>
  </div>
</section>

<section id='belief' class="content-section" style='background: #f5f5f5;'>
  <div class="container">

    <div class="grid m-first">
      <div class="column content">
          <h2>Our beliefs</h2>
          <p>We believe that those who participate in a healthy and active lifestyle through sports and activity memberships should be rewarded.</p>
          <p class="read">We're dedicated to helping people reach their potential and want to offer unbeatable deals on performance and lifestyle purchases to help them succeed.</p>
          <p class="read">We help sports clubs to offer rewards with their memberships so that individuals and families can save money and enjoy the benefits of being a member while continuing to stay active and healthy.</p>
      </div>

      <div class="column content-image">
        <%= image_tag "happy-people.jpg", alt: "sports clubs rewards", class: 'size-watch left' %>
      </div>
    </div>

  </div>
</section>

<section id='offer' class="content-section">
  <div class="container">
    <div class="center-content">
      <h2>What we offer</h2>
      <p>Access to big online savings and special offers  for your members with personalised club invitations and easy-to-use online tools at your fingertips.</p>
    </div>
    <div class="features-grid">
      <div class="feature">
        <i class="sprite feat-1"></i>
        <h1>Free for clubs</h1>
        <p class='read'>Completely free for sports clubs and their members</p>
      </div>
      <div class="feature">
        <i class="sprite feat-2"></i>
        <h1>Online tools</h1>
        <p class='read'>Manage your membership rewards online on any device</p>
      </div>
      <div class="feature">
        <i class="sprite feat-3"></i>
        <h1>Email invitations</h1>
        <p class='read'>All you need is your members email addresses to invite them</p>
      </div>
      <div class="feature">
        <i class="sprite feat-4"></i>
        <h1>Genuine discounts</h1>
        <p class='read'>Real savings on a variety of online purchases</p>
      </div>
    </div>
  </div>
</section>

<section id='how' class="content-section" style='background: #f5f5f5;'>
  <div class="container">

    <div class="grid m-first">
      <div class="column content-image">
        <%= image_tag "online-tools.jpg", alt: "Give rewards with online tools", class: 'size-watch right' %>
      </div>
      <div class="column content reverse">
          <h2>How it works</h2>
          <p>Turbo boost your membership program and start rewarding your members with three simple steps...</p>
          <ul>
            <li>
              <h1>01. Register your club</h1>
              <p class='read'>Sign up your club for free to get started and easily manage your rewards program online, on any device</p>
            </li>
            <li>
              <h1>02. Invite your members</h1>
              <p class='read'>Send club invitations easily with only an email address, each email invite contains a unique member code</p>
            </li>
            <li>
              <h1>03. Enjoy the rewards</h1>
              <p class='read'>Members receive instructions to download the app and enter their member code to access their rewards</p>
            </li>
          </ul>
        </div>
    </div>

  </div>
</section>

<section class="content-section">
  <div class="container">

    <div class="grid m-first">
      <div class="column content">
          <h2>They deserve this</h2>
          <ul>
            <li>
              <h1>2 for 1 tickets</h1>
              <p class='read'>From blockbuster movies to amusement parks and fun days out, give your members discounts on tickets and events</p>
            </li>
            <li>
              <h1>Sportswear and apparel</h1>
              <p class='read'>Access big online savings including functional and essential sports gear from the biggest sports retailers across ther UK</p>
            </li>
            <li>
              <h1>Food & supplements</h1>
              <p class='read'>Get healthy food subscriptions or cheat day takeaways with discounts on food, dining and health supplements.</p>
            </li>
            <li>
              <h1>Gym memberships</h1>
              <p class='read'>Gain access to gyms, fitness classes and spa days for a healthier and happier lifestyle</p>
            </li>
          </ul>
        </div>

        <div class="column content-image">
          <%= image_tag "app-notifications.jpg", alt: "Mobile notifications" %>
        </div>
    </div>

  </div>
</section>

<section class="content-section gradient-candy bottomless">
  <span id='joinLink' class='scrolltop'></span>
  <div class="container">

    <div class="grid app-detail m-first">
      <div class="column content-image">
        <%= image_tag "rewards-app.png", alt: "Mecca Rewards app", class: 'size-watch right' %>
      </div>
      <div class="column content reverse">
        <h2>Give rewards</h2>
        <p>New and exclusive offers, discounts and perks delivered direct to your members with the Mecca Rewards app, they’ll love it!</p>
        <h1 style='margin: 50px 0 15px 0;'>Coming soon...</h1>
        <i class="sprite ios-icon"></i>
        <i class="sprite android-icon"></i>
        <p class="small" style='margin-top:10px;'>*Invitation code is required to access Mecca Rewards app</p>
      </div>
    </div>

  </div>
</section>

<section id='join' class="content-section">
  <div class="container">
    <div class="center-content">
      <h2>Join us!</h2>
      <h1>We're nearly ready.</h1>
      <p>Register your interest today to help us attract the best deals from the biggest brands and retailers.</p>
      <p>You’ll be notified when we fully launch and you’ll receive instant access to start rewarding your members.</p>
      <div class="form">
        <%= form_for @club, url: welcome_create_club_path, html: { method: :post } do |f| %>
          <div class="field">
            <%= f.label :club_name, 'Club name:' %>
            <%= f.text_field :club_name, :required => true %>
          </div>
          <div class="field">
            <%= f.label :club_type, 'Club type:' %>
            <%= f.text_field :club_type, :required => true, placeholder: 'Sport or activity type...' %>
          </div>
          <div class="field">
            <%= f.label :club_website, 'Club website:' %>
            <%= f.text_field :club_website, placeholder: 'Website url or facebook, etc.' %>
          </div>
          <div class="field" style='padding-bottom: 25px;'>
            <%= f.label :member_count, 'Amount of club members:' %>
            <%= f.number_field :member_count, min:"1", placeholder: '0', :required => true %>
          </div>
          <div class="field">
            <%= f.label :contact_name, 'Contact name:' %>
            <%= f.text_field :contact_name, :required => true %>
          </div>
          <div class="field">
            <%= f.label :contact_email, 'Contact email:' %>
            <%= f.email_field :contact_email, :required => true %>
          </div>
          <div class="field">
            <%= f.submit 'REGISTER' %>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</section>

<section class="belong-bg">
  <h2>We all <span>belong</span> here.</h2>
</section>

<footer>
  <i class="sprite logo-foot">Mecca Rewards</i>
  <p style='font-size: 12px; text-align: center'>&copy; 2023. Mecca Rewards Ltd. All rights reserved. </p>
</footer>
